<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KundRegister.Properties.Settings.programmering2ConnectionString"
            connectionString="server=localhost;user id=root;password=ralle68;persistsecurityinfo=True;database=programmering2"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>